
.main[b-8nwnaup3ed]{
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    display:flex !important;
    align-items:center !important;
    justify-content:center !important;
    background-color:black;
    opacity:0.4
}
