
<EditForm Model="@equipeCollaborateurDto" OnValidSubmit="Submit">
    <ValidationSummary />
    <DataAnnotationsValidator />
    <div class="row">

        <div class="mb-3 col-sm-12">
            <label class="form-label">Collaborateur </label>

            <RadzenDropDown @bind-Value=@equipeCollaborateurDto.CollaborateurId Data=@collaborateurs TextProperty="UserName" ValueProperty="Id" Style="width: 100%; max-width: 400px;" Name="DropDownBindValue" Placeholder="Select Collaborateur"  />
        </div>
    </div>
    <div class="mb-3">

        <input type="submit" class="btn btn-success text-white" value="valider" />
    </div>
</EditForm>



@code {

}
